<div id="<%= dom_id schedule %>">
  <p>
    <strong>Title:</strong>
    <%= schedule.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= schedule.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= schedule.end_date %>
  </p>

  <p>
    <strong>Is all day:</strong>
    <%= schedule.is_all_day %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= schedule.memo %>
  </p>

</div>
